<h2 class="text-center mb-3">PRODUCTS MANAGER</h2>

<a href="/products/admin" class="btn btn-primary mx-auto d-block mb-3 w-25 mt-3">+ Add new product</a>
<section>
{{#each data}}
   <div id={{this._id}} class="d-flex-col justify-content-center align-items-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item mx-auto"><a  href="/products/{{this._id}}">{{this.title}}</a> price: ${{this.price}}</li>
    
  </ul>
  <div class="text-center">
    <button type="button" class="btn btn-success"><a class="text-white text-decoration-none"href="/products/update/{{this._id}}">Update</a></button>
<button value="{{this._id}}" type="button" class="btn btn-danger" id="deleteProductBtn">Delete</button>
  </div>
 
</div>
{{/each}}
</section>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="/public/js/adminProductsSocket.js"></script>
