    <h1 class="text-center">Update Product</h1>
<section class="d-flex" id="updateProductContainer">
<form class="d-flex flex-column w-50 gap-2 m-2 justify-content-center align-items-center"method="PUT">
    <input class="w-50" type="text" name="title" id="new-product-title" placeholder="Title" required value={{data.title}}>
    <input class="w-50" type="number" name="price" id="new-product-price" placeholder="Price" required min="1" value={{data.price}}>
    <input class="w-50" type="number" name="stock" id="new-product-stock" placeholder="stock" required min="1" value={{data.stock}}>
    {{!-- <input class="w-50" type="text" name="category" id="new-product-category" placeholder="Category" required value={{data.category}}> --}}
   <select id="new-product-category" name="category" class="w-50">
            <option value="{{data.category}}">{{data.category}}</option>
            <option value="pants">pants</option>
            <option value="shoes">shoes</option>
            <option value="sweaters">sweaters</option>
            <option value="accessories">accessories</option>
            <option value="jackets">jackets</option>
            <option value="dresses">dresses</option>
            <option value="tops">tops</option>
            <option value="skirts">skirts</option>
            <option value="t-shirts">t-shirts</option>
            <option value="other">other</option>
          </select>
    <button class="btn btn-warning" type="submit" value={{data.id}} id="updateProductBtn"> Update </button>
</form>

</section>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="/public/js/updateProductSocket.js"></script>